@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@keyframes shadow {
  0% {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 50px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
  }
}
@keyframes ticker {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(20%);
  }
}
body {
  display: flex;
}

.main_section {
  background-image: url("../images/BLOW_03.jpg");
  height: 100vh;
  width: 94%;
  order: 2;
  background-size: cover;
  background-position: center;
}
.main_section header {
  position: fixed;
  top: 100px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .main_section header {
    flex-direction: column;
    justify-content: space-between;
    top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.main_section header .logo a {
  text-decoration: none;
  font: 40px "Montserrat", sans-serif;
  font-weight: 900;
  color: black;
}
@media screen and (max-width: 767px) {
  .main_section header .logo {
    order: 2;
  }
}
.main_section header nav ul {
  display: flex;
  justify-content: space-between;
}
.main_section header nav ul li {
  list-style: none;
}
.main_section header nav ul li a {
  display: block;
  text-decoration: none;
  font: 22px "Montserrat", sans-serif;
  line-height: 41px;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 30px;
  height: 41px;
}
@media screen and (max-width: 767px) {
  .main_section header nav ul li a {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .main_section header nav ul li a {
    font-size: 10px;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
  }
}
.main_section header nav ul li a:hover {
  background-color: black;
  color: white;
  height: 41px;
}
@media screen and (max-width: 767px) {
  .main_section header nav ul li a:hover {
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .main_section header nav {
    order: 1;
  }
}
.main_section .workBtn {
  position: relative;
  top: 80%;
}
@media screen and (max-width: 767px) {
  .main_section .workBtn {
    top: 70%;
  }
}
.main_section .workBtn .btn {
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 30px;
  background-color: black;
}
@media screen and (max-width: 767px) {
  .main_section .workBtn .btn {
    max-width: 200px;
  }
}
.main_section .workBtn .btn a {
  display: block;
  text-align: center;
  text-decoration: none;
  font: 20px/60px "Montserrat", sans-serif;
  color: #f0cdac;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .main_section .workBtn .btn a {
    font: 15px/30px;
  }
}
.main_section .workBtn .btn:hover {
  animation: shadow 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
}

.aside {
  width: 6%;
  order: 1;
  height: 100vh;
  background-color: white;
}
.aside .text {
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position: absolute;
  top: 90%;
  left: 30px;
  overflow: hidden;
  width: 100%;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .aside .text {
    left: 10px;
  }
}
@media screen and (max-width: 767px) {
  .aside .text {
    left: 5px;
  }
}
.aside .text h1 {
  animation: ticker 15s linear infinite;
  text-align: center;
  text-transform: uppercase;
  color: #b2b2b2;
  font: 22px/22px "Montserrat", sans-serif;
}
@media screen and (max-width: 767px) {
  .aside .text h1 {
    font-size: 10px;
  }
}
.aside .text h1 span {
  font-weight: 700;
  color: black;
}
.aside .case {
  position: absolute;
  bottom: 4%;
  left: 28px;
}
@media screen and (max-width: 767px) {
  .aside .case {
    left: 3px;
  }
}
@media screen and (max-width: 320px) {
  .aside .case {
    bottom: 3%;
  }
}
.aside .case a {
  position: absolute;
  text-decoration: none;
  z-index: 2;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 35px;
  color: #b2b2b2;
}
@media screen and (max-width: 767px) {
  .aside .case a {
    font-size: 10px;
    left: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
