@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@keyframes shadow {
  0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
  100% { bottom: 50px; box-shadow: 0 50px 50px rgba(0,0,0,0.1); }
}
@keyframes ticker {
  0% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(20%);
  }
}

$font_family: 'Montserrat', sans-serif;
body {
  display: flex;
}

.main_section {
  background-image: url("../images/BLOW_03.jpg");
  height: 100vh;
  width: 94%;
  order: 2;
  background-size: cover;
  background-position: center;

  header {
    position: fixed;
    top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    @include max-screen(767px) {
      flex-direction: column;
      justify-content: space-between;
      top: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .logo {
      a {
        text-decoration: none;
        font: 40px $font_family;
        font-weight: 900;
        color: black;
      }

      @include max-screen(767px) {
        order: 2;
      }
    }

    nav {
      ul {
        display: flex;
        justify-content: space-between;

        li {
          list-style: none;



          a {
            display: block;
            text-decoration: none;
            font: 22px $font_family;
            line-height: 41px;
            color: black;
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 30px;
            height: 41px;
            @include max-screen(767px) {
              font-size: 20px;
              line-height: 20px;
              height: 20px;
            }
            @include max-screen(320px) {
              font-size: 10px;
              line-height: 20px;
              padding-left: 10px;
              padding-right: 10px;
              height: 20px;
            }
            &:hover {
              background-color: black;
              color: white;
              height: 41px;
              @include max-screen(767px) {
                height: 20px;
              }
            }
          }
        }
      }

      @include max-screen(767px) {
        order: 1;
      }
    }
  }

  .workBtn {
    position: relative;
    top: 80%;
    @include max-screen(767px) {
      top: 70%;
    }

    .btn {
      max-width: 300px;
      margin: auto;
      text-align: center;
      border-radius: 30px;
      background-color: black;
      @include max-screen(767px) {
        max-width: 200px;
      }
      a {
        display: block;
        text-align: center;
        text-decoration: none;
        font: 20px/60px $font_family;
        color: #f0cdac;
        text-transform: uppercase;
        @include max-screen(767px) {
          font: 15px/30px
        }
      }
      &:hover{
        animation: shadow 0.5s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
      }
    }
  }
}

.aside {
  width: 6%;
  order: 1;
  height: 100vh;
  background-color: white;

  .text {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    position: absolute;
    top: 90%;
    left: 30px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    @include max-screen(992px) {
      left: 10px;
    }
    @include max-screen(767px) {
      left: 5px;
    }
    h1 {
      animation: ticker 15s linear infinite;
      text-align: center;
      text-transform: uppercase;
      color: #b2b2b2;
      font: 22px/22px $font_family;
      @include max-screen(767px) {
        font-size: 10px;
      }
      span {
        font-weight: 700;
        color: black;
      }
    }
  }

  .case {
    position: absolute;
    bottom: 4%;
    left: 28px;
    @include max-screen(767px) {

      left: 3px;
    }
    @include max-screen(320px) {
      bottom: 3%;
    }

    a {
      position: absolute;
      text-decoration: none;
      z-index: 2;
      bottom: 0;
      left: 0;
      text-align: center;
      font-size: 35px;
      color: #b2b2b2;
      @include max-screen(767px) {
        font-size: 10px;
        left: 5px;
      }
    }
  }
}
